* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counter__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter__box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter__img {
  width: 100px;
  height: 100px;
}